@font-face{
	font-family:'EmojiFont';
	src:url('./fonts/NotoEmoji-Regular.ttf') format('truetype');
}

.emoji-keyboard{
    border:1px solid #0e2638;
    padding:5px;
    padding-bottom:15px;
    margin-top: 5px;
    border-radius: 7px;
}
.emoji-keyboard-row{
    flex-wrap:nowrap;
    display:flex;
}

.keyboard-en > .emoji-keyboard-row:nth-child(2){
    margin-left:20px;
}
.keyboard-en > .emoji-keyboard-row:nth-child(3){
    margin-left:35px;
}
.keyboard-en > .emoji-keyboard-row:nth-child(4){
    margin-left:50px;
}
.emoji-key{
    position:relative;
    width:35px;
    height:35px;
    min-width:35px;
    min-height:35px;
    background-color: #a7bfbf;
    border:1px solid #a7bfbf;
    box-shadow: 1px 2px 0px 1px #0e2638;
    margin:2px;
    border-radius: 3px;
}
.emoji-key > .emoji-char{
    font-family:EmojiFont;
    font-size: 16px;
    position:absolute;
    top:3px;
    left:3px;
    bottom:3px;
    right:3px;
		color: #0e2638;

}
.emoji-key > .key-reminder{
    font-size: 12px;
    position:absolute;
    right:3px;
    bottom:3px;
    display:none;
}
.emoji-key:hover{
    background-color:#cfdcdc;
    border: 1px solid #cfdcdc;
}
.emoji-key:active,.emoji-key.pressed{
    background-color:  #0e2638;
    border:1px solid #a7bfbf;
    color:#a7bfbf;
}

.new-emoji-pass-field{
    border:1px solid #0e2638;
    border-radius:7px;
    padding:15px;
    margin-bottom:45px;
    display:flex;
    justify-content: space-around;
}
.new-emoji-pass-field > * {
    display:flex;
}
.emoji-text{
  font-family:EmojiFont;
}

input.emoji-field{
  font-size:35px;
	width:200px;
}

.new-emoji-pass-field > .button-row{
    float:right;
}



@media (min-width: 650px){
    .emoji-key{
        width:45px;
        height:45px;
        min-width:45px;
        min-height:45px;
        top:5px;
        left:5px;
        right:5px;
    }
    .emoji-key > .emoji-char{
        font-size: 150%;
    }
    .emoji-key > .key-reminder{
        display:inline-block;
    }
}
