
.container{
    margin-left: 20px;
    margin-right:20px;
}
@media (min-width: 1024px){
    body > .container, body > div#root > .container{
        margin-left: 10%;
        margin-right:20%;
    }
}

.card-modal{
  padding:0px;
  margin:auto;
  margin-top:15vh;
  box-shadow: 2px 3px 10px 0px #54585e;
  width:250px;
}
.card-title{
  font-size:30px;
  padding:15px;
  border-bottom:1px solid #54585e;
}
.card-body{
  padding:15px;
}
.button-col{
  display:flex;
  flex-direction: column;
}
.button-col > Button, .button-col > .btn {
  margin-bottom:5px;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.hidden{
    display:none;
}
